.img1{
   width: 90%;
   margin-top: 12%;
   height: 100%;
 } 
 
 .email{
   padding: 0.5rem;
   margin-top: 25%;
   width: 70%;
   margin-left: 15%;

   border-radius: 5px;
   outline: none;
   border-color: rgb(168, 168, 223);
 }

 .password{

    padding: 0.5rem;
    margin-top: 6%;
    width: 70%;
    border-radius: 5px;
    margin-left: 15%;
    outline: none;
    border-color: rgb(168, 168, 223);
  }
  .btn1{
    margin-top: 6.5%;
    width: 15%;
padding: .8rem; 
margin-left: 15%;

border-radius: 10px;
margin-bottom: 5%;
 }

.btn1:hover{
  border-color:black;
}
.sign{
  font-size: 20px;
  margin-left: 15%;
  color: black;
  margin-top: 10%;


}