
#contact-us {
  padding: 40px 0;
}  
#email,#password{
  width: 70%;
  margin-bottom: 30px;
  height: 3rem;
  padding: 20px;
  border-radius: 7px;
  margin-left: 15%;
  outline: none;
  
  border-color: cadetblue;
}

#btn9{
  font-size: larger;
  background-color: white;
  color: green;
  outline: none;
  border: none;
  margin-left: 15%;
}
#signup{
  margin-left: 15%;
  font-size: 21px;

}
#sign{
  font-size: 21px;
  background-color: white;
  color: rgb(90, 115, 230);
  border-radius: 0 0 0 0;
}
#sign::hover{
  border: none;
  outline: none;
}
.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }}

